{% extends 'base.html' %}
{% load static %}
{% block body %}

  <!-- shop section -->

  <section class="shop_section layout_padding">
    <div class="container">
      <div class="box">
        <div class="detail-box">
          <h2>
            Fruit shop
          </h2>
          <p>
            There are many variations of Fruits
          </p>
        </div>
        <div class="img-box">
          <img src="{% static 'images/shop-img.jpg' %}" alt="">
        </div>
        <div class="btn-box">
        </div>
      </div>
    </div>
  </section>

  <!-- end shop section -->


{% endblock %}